
#container-confirm-content {
  padding: 30px;

  * {
    text-align: center;
  }

  strong {
    color: $danger;
  }

  p {
    font-size: 16px;
  }

  ul {
    list-style: none;
    padding: 10px 0px;
  }

  li {
    border-bottom: 1px solid #CCC;
    padding: 10px;
    &:last-child {
      border: 0px none;
    }
  }

  .warning {
    font-size: 16px;
    color: $danger;
    margin-top: 25px;
  }
}