#container-settings-content .item {
  padding: 20px;
  border-color: black !important;

  h2 {
    font-weight: 700;
  }

  p {
    padding: 6px;
    margin: 0px;
  }

  .field {
    padding: 6px;
  }

  .settings-description {
    width: 70%;
  }
  
  .button {
    margin: auto 0px 0px auto;
  }
  
}