.ui.button.wsBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 0 $item-height;
  width: $item-height;
  height: $item-height;
  margin: 0px;
  padding: 0px;
  z-index: 5;

  border: 0px none;
  border-radius: 0px;
  text-align: center;
  background: none;
  color: $wsBtn-color;
  font-size: 85%;
  transition: $wsBtn-transition;
    
  i:before { transition: $wsBtn-transition; }

  &.dropdown.active { background-color: $btn-invert-background; }

  &.dropdown.active.visible, &.dropdown.active.visible:active {
    color: $wsBtn-light-color;
    background-color: $btn-invert-background;
    z-index: 999;
  }

  &.icon {
    padding: 0px;
    i { margin: 0px; }  
  }

  // Part of a series of buttons
  &.chain {
    color: $secondary;
    background: white;
    border-left: 1px solid $item-border-color;
  }
  
  // Add new workspace
  &.cta {
    // color: $primary !important;
    font-size: 190% !important;
  }

  // Add new workspace
  &.pin {
    max-width: 30px;
    padding-right: 3;
    font-size: 85%;
    color: $wsBtn-light-color;
  }
  &.pin.pinned {
    color: $secondary;
  }
  
  // 
  &.move {
    position: relative;
    height: 18px;
    &.up { left: 36px; }
    &.down { top: 18px; }
  }

  &:hover, &:focus, &:active, &.active {
    color: white;
    
    i:before { font-size: $wsBtn-hover-size; }

    &.chain { background: $secondary; }
    // &.cta { background-color: $primary; }
    &.danger { background-color: $danger; }
    &.pin { color: $secondary; }
    &.pinned { color: $danger; }
    &.top i:before { font-size: $wsBtn-top-hover-size; }
  }
}
