.ui.button.ghost {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 0 $item-height;
  width: $item-height;
  height: $item-height;
  margin: 0px;
  padding: 0px;
  z-index: 5;

  border: 0px none;
  border-radius: 0px;
  text-align: center;
  background: none;
  color: $btn-ghost-color;
  font-size: 85%;

  &.dropdown.active.visible, &.dropdown.active.visible:active {
    color: white;
    background-color: $header-background-color;
    z-index: 999;
  }

  &.icon {
    padding: 0px;
    i { margin: 0px; }  
  }

  // Part of a series of buttons
  &.chain {
    color: $secondary;
    background: white;
    border-left: 1px solid $item-border-color;
  }
  
  // Add new workspace
  &.cta {
    color: $primary;
    font-size: 160% !important;
  }

  // Add new workspace
  &.pin {
    font-size: 85%;
    color: $btn-ghost-light-color;
  }
  &.pin.pinned {
    color: $secondary;
  }

  &:hover, &:focus, &:active, &.active {
    color: white;
    
    i { font-size: $btn-ghost-hover-size; }

    &.chain { background: $secondary; }
    &.cta { background-color: $primary; }
    &.danger { background-color: $danger; }
    &.pin { color: $secondary; }
    &.pinned { color: $danger; }
  }
}
