html {
  height: $app-height; 
  background-color: $btn-invert-background;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

body {
  width: $app-width;
  max-width: $app-width;
  margin: 0px; 
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: $secondary;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container { 
  position: absolute;
  width: 100%; 
  min-height: 100%;
  opacity: 1;
  z-index: 5;

  &.hide { opacity: 0 !important; z-index: 1; }

  // Messy display management for single/multi workspace mode
  .add-single, .refresh-single { display: none !important; }
  &.single {
    .add-regular { display: none !important; }
    .add-single, .refresh-single { display: revert !important; }
    &.empty {
      .add-single { display: revert !important; }
      .refresh-single { display: none !important; }
    }
  }
}

.form {
  padding: 15px;
  
  .field {
    margin-bottom: 15px !important;
  }
}

// Main item/header icon
.icon.feature {
  width: $item-height;
  margin: auto 0px;
  width: $item-height;
  font-size: 18px;
}

// This should be elsewhere
#workspace-form-icons {
  display: flex;
  flex-wrap: wrap;

  .ico-label i {
    position: relative;
    color: #DDD;
    font-size: 26px;
    cursor: pointer;
    margin: 10px;
    transition: $wsBtn-transition;
    &:hover {
      color: #AAA;
    }
  }
  
  input[type="radio"].ico {
    display: none;
    &:checked + .ico-label i {
      color: $secondary;
      // &::after {
      //   content: '';
      //   display: block;
      //   position: absolute;
      //   background-color: $secondary;
      //   border-radius: 8px;
      //   top: -9px;
      //   left: -5px;
      //   width: 41px;
      //   height: 40px;
      // }
    }
  }

}

// Top message
#msg {
  position: absolute;
  top: -3px;
  width: 100%;
  text-align: center;
  z-index: 9999;
  pointer-events: none;
}
#msg .label {
  width: auto; 
  position: relative;
  top: 0;
  text-align: center;
  max-width: calc(#{$app-width} - 50px);
  transition: $msg-transition;

  &.hide { top: -30px; }
}