html {
  height: auto;
  height: $app-height; 
  // min-height: $app-min-height;
}

body {
  width: $app-width;
  margin: 0px; 
  padding: 0px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}

form {
  padding: 15px;
}

form .field {
  margin-bottom: 15px !important;
}

#workspace-form-icons {
  display: flex;
  flex-wrap: wrap;

  .ico-label i {
    color: #DDD;
    font-size: 26px;
    cursor: pointer;
    margin: 10px;
    &:hover {
      color: #AAA;
    }
  }
  
  input[type="radio"].ico {
    display: none;
    &:checked + .ico-label i {
      color: $primary;
    }
  }

}

#msg {
  position: absolute;
  top: -3px;
  width: 100%;
  text-align: center;
}
#msg .label {
  width: auto; 
  text-align: center;
  max-width: calc(#{$app-width} / 2);
}

.hide {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

// Section wrapper
.container {
  min-height: 100%;
}

/* Scrollbar padding */
// .container-header, 
// .item, 
// #container-workspace-controls {
//   padding-left: calc(#{$app-scrollbar-width} / 2) !important;
//   padding-right: $app-scrollbar-width !important;
// }
