.container-header {
  display: flex;
  align-content: center;
  align-items: flex-start;
  height: $header-height;
  color: #AAA;
  background-color: $header-background-color;
  border-bottom: 1px solid $header-border-color;

  &.home {
    padding-left: 20px !important;
  }
  
  h1 {
    margin: auto;
    margin-left: 0px;
    box-shadow: none;
    font-size: $header-title-size;
    font-weight: 500;
  }
}