.container-header {
  display: flex;
  align-content: center;
  align-items: flex-start;
  height: $header-height;
  background: $header-background;
  border-bottom: 1px solid $header-border-color;

  &.home {
    padding-left: 20px !important;
  }
  
  h1 {
    margin: auto;
    margin-left: 0px;
    box-shadow: none;
    font-size: $header-title-size;
    font-weight: 600;
    color: lighten($header-background-color1, 75%);
    line-height: 16px;
  }

  #workspace-title-icon {
    margin-left: -12px;
    color: lighten($header-background-color1, 75%);
  }

  .ui.button.wsBtn {
    flex: 0 0 $header-height;
    width: $header-height;
    height: $header-height;
    font-size: 140%;
    color: lighten($header-background-color1, 30%);

    &:hover {
      color: lighten($header-background-color1, 75%);
    }
  }
}