.item {
  position: relative;
  display: flex;
  height: $item-height;
  padding: 0;
  border-bottom: 1px solid $item-border-color;
  min-width: 0;
  overflow: hidden;
  background: $item-background;
  transition: $item-transition;
  
  // Global vertical alignment
  & > *, & > i {
    margin: auto 0px;
    min-width: 0;
    color: $secondary;
  }
  
  // Title
  h2 {
    flex-grow: 1;
    font-size: $item-title-size;
    font-weight: 500;
    white-space: nowrap;
    z-index: 1;
    letter-spacing: 0.2px;
    color: $secondary;
    transition: $item-transition;
  }

  // Button positions and behavior
  .button {
    opacity: 0 !important;
    transition: 1s all;

    // &.pinned { opacity: 1; }
    &:nth-child(3) { margin-left: auto; }
  }
  
  // Shown when no workspaces or tabs
  &.empty {
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    height: auto;

    h2 {
      font-weight: 400 !important;
      margin: auto;
    }
  }

  // Interactive
  &.clickable { cursor: pointer; }
  &:not(.empty):not(.setting):hover {
    background-color: $item-hover-background;
    overflow: visible;
    
    h2 { color: lighten($secondary, 30%); }
    .button { 
      opacity: 1 !important; 
    }
  }

  // Dragged item
  &.sortable-chosen {
    border: 1px solid $secondary;
  }
}
