.item {
  position: relative;
  display: flex;
  height: $item-height;
  padding: 0;
  border-bottom: 1px solid $item-border-color;
  min-width: 0;
  overflow: hidden;

  // Global vertical alignment
  & > *, & > i {
    margin: auto 0px;
    min-width: 0
  }

  // Title
  h2 {
    flex-grow: 1;
    // margin-left: 5px;
    font-size: $item-title-size;
    font-weight: 500;
    white-space: nowrap;
    z-index: 1;
    letter-spacing: 0.5px;
  }

  // Button positions and behavior
  .button {
    visibility: hidden;

    &.pinned { visibility: visible; }
    &:nth-child(3) { margin-left: auto; }
  }
  
  // Shown when no workspaces or tabs
  &.empty {
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    height: auto;

    h2 {
      font-weight: 400 !important;
      margin: auto;
    }
  }

  // 
  &.static {
    height: auto;
  }

  // Interactive
  &.clickable { cursor: pointer; }
  
  &:not(.empty):not(.static):hover {
    background-color: $item-hover-background;
    overflow: visible;

    h2 {
      color: lighten($secondary, 30%); 
    }

    .button { visibility: visible; }
  }
  
  // Disable hover for non-selectacle items
  // &.empty:hover, &.static:hover { background: none !important; }
}
