.item {
  display: flex;
  height: $item-height;
  padding: 0;
  border-bottom: 1px solid $item-border-color !important;

  // Vertical alignment
  & > h2, & > i, & > button {
    margin: auto 0px;
  }

  // Main icon
  .icn {
    width: $item-height;
    font-size: 18px;
  }

  // Title
  h2 {
    margin-left: 5px;
    font-size: $item-title-size;
    font-weight: 500;
  }

  // Actions
  .button {
    visibility: hidden;
    &:nth-child(3) {
      margin-left: auto !important;
    }
  }
  
  &.empty {
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    height: auto;

    &:hover {
      background: none !important;
    }

    h2 {
      font-weight: 400 !important;
      margin: auto;
    }
  }

  &:hover {
    background-color: $item-background !important;
    
    h2 {
      color: $secondary;
      font-weight: 700;
    }
  
    .button { visibility: visible; }

    // Settings only?
    &.static { background: none !important; }
  }

  &.clickable { cursor: pointer; }
}
