

.tabs {
  &.pinned .tab {
    border-left: $secondary solid $tab-left-border-width;
    padding-left: 0px;
  }

  .tab {
    border-left: 0px none;
    padding-left: $tab-left-border-width;
    border-right: white solid $tab-left-border-width;

    .favIcon {
      flex: 0 0 $item-height;
      width: $item-height;
      height: $item-height;
      margin: 0px;
      margin-left: -14px;
      padding: 10px;
      border-radius: 50%;
    }

    .button:first-child { margin-left: 0; }
    .button:nth-child(5) { margin-left: auto; }
    .button:last-child { margin-right: -5px; }
    
    &:first-child button.ui.button.move-up, 
    &:last-child button.ui.button.move-down {
      pointer-events: none !important;
      color: $btn-disabled-color !important;
      background-color: $btn-disabled-background !important;
    }
  }
}