.tabs {
  .tab {
    border-left: 0px none;
    padding-left: $tab-left-border-width;
    border-right: white solid $tab-left-border-width;

    .favIcon {
      flex: 0 0 $item-height;
      width: $item-height;
      height: $item-height;
      margin: 0px;
      margin-left: -10px;
      padding: 7px;
      border-radius: 50%;
    }

    .button:first-child { margin-left: 0; }
    .button:nth-child(5) { margin-left: auto; }
    .button:last-child { margin-right: -5px; }
  }

  &.pinned .pin {
    opacity: 1 !important;
  }
}