$app-width: 400px;
$app-height: 500px;
$app-scrollbar-width: 20px;

$primary: #3ac1ff;
// $secondary: #1f3742;
$secondary: #293b4d;
$danger: #b91111;

// App header
$header-height: 50px;
$header-color: #CCC;
$header-title-size: 16px;
$header-border-color: #000;
$header-background-color: #1b1c1d;

// Item
$item-height: 36px;
$item-hover-background: #FAFAFA;
$item-border-color: #EEEEEE;
$item-title-size: 14px;

// Tab
$tab-left-border-width: 4px;
$tab-left-border-background: #4b4d4e;

$btn-ghost-color: #777;
$btn-ghost-light-color: #cecece;
$btn-ghost-hover-size: 111%;
$btn-ghost-hover-background: #3c4042;

$btn-disabled-color: #DDDDDD;
$btn-disabled-background: #FEFEFE;