$app-width: 600px;
$app-min-height: 600px;
$app-padding: 5px;
$app-scrollbar-width: 20px;

$primary: #3ac1ff;

$text-color: #2C3E50;

$header-title-size: 16px;
$header-border-color: #000;
$header-background-color: #1b1c1d;

$item-padding: 10px 0px;
$item-background: #FAFAFA;
$item-border-color: #EEEEEE;
$item-title-size: 16px;

$btn-disabled-color: #DDDDDD;
$btn-disabled-background: #FEFEFE;

$btn-pinned-color: #FEFEFE;
$btn-pinned-background: #1b1c1d;
$btn-pinned-hover-background: #4b4d4e;
