:root {
  --app-width: 600px;
  --app-padding: 5px;
  --app-scrollbar-width: 20px;
  --text-color: #2C3E50;

  --header-title-size: 16px;
  --header-border-color: #000;
  --header-background-color: #1b1c1d;

  --item-padding: 10px 0px;
  --item-background: #FAFAFA;
  --item-border-color: #EEEEEE;
  --item-title-size: 16px;

  --btn-disabled-color: #DDDDDD;
  --btn-disabled-background: #FEFEFE;

  --btn-pinned-color: #FEFEFE;
  --btn-pinned-background: #1b1c1d;
  --btn-pinned-hover-background: #4b4d4e;
}

body {
  width: var(--app-width);
  min-height: 400px;
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}
form {
  padding: 15px;
}
form .field {
  margin-bottom: 15px !important;
}

#msg {
  position: absolute;
  top: -3px;
  width: 100%;
  padding-left: 100px;
  padding-right: 140px;
  text-align: center;
}
#msg .label {
  width: auto; 
  max-width: 180px;
}

.hide {
  display: none !important;
}

/* Section container */
.container {
  min-height: 100%;
}
.container .container-header {
  display: flex;
  align-content: center;
  align-items: flex-start;
  padding: var(--app-padding);
  color: #AAA;
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--header-border-color);
}
.container .container-header.home {
  padding-left: 20px !important;
}
.container .container-header h1 {
  margin: auto;
  margin-left: 0px;
  box-shadow: none;
  font-size: var(--header-title-size);
  font-weight: 500;
}
.container .container-header .button.primary {
  font-weight: 600;
}
.container .container-header .button.ghost {
  box-shadow: none !important;
  color: #888 !important;
  border: 0px none !important;
}
.container .container-header .button.ghost:hover {
  box-shadow: none !important;
  color: white !important;
  background: none !important;
  border: 0px none !important;
}

/* Global list item */
.item {
  display: flex;
  align-items: center;
  align-content: center;
  align-items: flex-start;
  padding: var(--item-padding);
  border-bottom: 1px solid var(--item-border-color) !important;
}
.item:hover {
  background-color: var(--item-background) !important;
}
.item.clickable {
  cursor: pointer;
}
.item.empty {
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
}
.item.empty:hover {
  background: none !important;
}
.item h2 {
  margin: auto auto auto 6px;
  font-size: var(--item-title-size);
  font-weight: 500;
}
.item.empty h2 {
  margin: auto;
}
.item .label {
  margin: auto 0px !important;
}
.item.static:hover {
  background: none !important;
}

/* Section - Workspace details */
#container-workspace-controls {
  width: 100%;
  display: flex;
  flex-direction:row;
  align-content: center;
  padding-bottom: 10px !important;
  border-bottom: 1px solid var(--header-border-color);
}
#container-workspace-controls h3 {
  margin: auto;
  margin-left: 6px;
}

.tab .title {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;
}
.tab .favIcon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--item-background);
}
.tab .buttons {
  margin-left: auto;
}
.tab .buttons button.ui.button.pinned {
  color: var(--btn-pinned-color) !important;
  background-color: var(--btn-pinned-background) !important;
}
.tab .buttons button.ui.button.pinned:hover {
  background-color: var(--btn-pinned-hover-background) !important;
}
.tab:first-child button.ui.button.move-up, 
.tab:last-child button.ui.button.move-down {
  pointer-events: none !important;
  color: var(--btn-disabled-color) !important;
  background-color: var(--btn-disabled-background) !important;
}

/* Section - Settings */
#container-settings-content .item {
  padding: 20px;
  border-color: black !important;
}
#container-settings-content .item h2 {
  font-weight: 700;
}
#container-settings-content .item p {
  padding: 6px;
  margin: 0px;
}
#container-settings-content .item .field {
  padding: 6px;
}
#container-settings-content .item .settings-description {
  width: 70%;
}
#container-settings-content .item .button {
  margin: auto 0px 0px auto;
}

/* Scrollbar padding */
.container-header, 
.item, 
#container-workspace-controls {
  padding-left: calc(var(--app-scrollbar-width) / 2) !important;
  padding-right: var(--app-scrollbar-width) !important;
}