html {
  height: auto;
  height: 500px; }

body {
  width: 500px;
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2C3E50; }

form {
  padding: 15px; }

form .field {
  margin-bottom: 15px !important; }

#workspace-form-icons {
  display: flex;
  flex-wrap: wrap; }
  #workspace-form-icons .ico-label i {
    color: #DDD;
    font-size: 26px;
    cursor: pointer;
    margin: 10px; }
    #workspace-form-icons .ico-label i:hover {
      color: #AAA; }
  #workspace-form-icons input[type="radio"].ico {
    display: none; }
    #workspace-form-icons input[type="radio"].ico:checked + .ico-label i {
      color: #3ac1ff; }

#msg {
  position: absolute;
  top: -3px;
  width: 100%;
  text-align: center; }

#msg .label {
  width: auto;
  text-align: center;
  max-width: calc(500px / 2); }

.hide {
  display: none !important; }

.hidden {
  visibility: hidden !important; }

.container {
  min-height: 100%; }

/* Scrollbar padding */
.ui.button {
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  border: 0px none;
  border-radius: 0px; }
  .ui.button.icon {
    padding: 0px; }
    .ui.button.icon i {
      margin: 0px; }
  .ui.button.chain {
    border-left: 1px solid #EEEEEE; }
  .ui.button.ghost {
    background: none;
    color: #888; }
  .ui.button.cta {
    color: #3ac1ff;
    font-size: 160% !important; }
  .ui.button:hover.icon, .ui.button:focus.icon, .ui.button:active.icon {
    padding-top: 3px; }
  .ui.button:hover.chain, .ui.button:focus.chain, .ui.button:active.chain {
    background: #DDD; }
  .ui.button:hover.primary, .ui.button:focus.primary, .ui.button:active.primary {
    background-color: #3ac1ff; }
  .ui.button:hover.secondary, .ui.button:focus.secondary, .ui.button:active.secondary {
    background-color: #1f3742; }
  .ui.button:hover i, .ui.button:focus i, .ui.button:active i {
    font-size: 120%; }

.container-header {
  display: flex;
  align-content: center;
  align-items: flex-start;
  height: 50px;
  color: #AAA;
  background-color: #1b1c1d;
  border-bottom: 1px solid #000; }
  .container-header.home {
    padding-left: 20px !important; }
  .container-header h1 {
    margin: auto;
    margin-left: 0px;
    box-shadow: none;
    font-size: 16px;
    font-weight: 500; }

.item {
  display: flex;
  height: 50px;
  padding: 0;
  border-bottom: 1px solid #EEEEEE !important; }
  .item > h2, .item > i, .item > button {
    margin: auto 0px; }
  .item .icn {
    width: 50px;
    font-size: 18px; }
  .item h2 {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500; }
  .item .button {
    visibility: hidden; }
    .item .button:nth-child(3) {
      margin-left: auto !important; }
  .item.empty {
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    height: auto; }
    .item.empty:hover {
      background: none !important; }
    .item.empty h2 {
      font-weight: 400 !important;
      margin: auto; }
  .item:hover {
    background-color: #FAFAFA !important; }
    .item:hover h2 {
      color: #1f3742;
      font-weight: 700; }
    .item:hover .button {
      visibility: visible; }
    .item:hover.static {
      background: none !important; }
  .item.clickable {
    cursor: pointer; }

.tab .title {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: auto 3px; }

.tab .favIcon {
  width: 24px;
  height: 24px;
  margin: auto 0px;
  padding: 3px;
  border-radius: 50%;
  background-color: #FAFAFA; }

.tab:first-child button.ui.button.move-up,
.tab:last-child button.ui.button.move-down {
  pointer-events: none !important;
  color: #DDDDDD !important;
  background-color: #FEFEFE !important; }

/* Section - Workspace details */
#container-confirm-content {
  padding: 30px; }
  #container-confirm-content * {
    text-align: center; }
  #container-confirm-content strong {
    color: red; }
  #container-confirm-content p {
    font-size: 16px; }
  #container-confirm-content ul {
    list-style: none;
    padding: 10px 0px; }
  #container-confirm-content li {
    border-bottom: 1px solid #CCC;
    padding: 10px; }
    #container-confirm-content li:last-child {
      border: 0px none; }
  #container-confirm-content .warning {
    font-size: 16px;
    color: red;
    margin-top: 25px; }

#container-settings-content .item {
  padding: 20px;
  border-color: black !important; }
  #container-settings-content .item h2 {
    font-weight: 700; }
  #container-settings-content .item p {
    padding: 6px;
    margin: 0px; }
  #container-settings-content .item .field {
    padding: 6px; }
  #container-settings-content .item .settings-description {
    width: 70%; }
  #container-settings-content .item .button {
    margin: auto 0px 0px auto; }
