html {
  height: auto;
  height: 500px; }

body {
  width: 500px;
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2C3E50; }

form {
  padding: 15px; }

form .field {
  margin-bottom: 15px !important; }

#workspace-form-icons {
  display: flex;
  flex-wrap: wrap; }
  #workspace-form-icons .ico-label i {
    color: #DDD;
    font-size: 26px;
    cursor: pointer;
    margin: 10px; }
    #workspace-form-icons .ico-label i:hover {
      color: #AAA; }
  #workspace-form-icons input[type="radio"].ico {
    display: none; }
    #workspace-form-icons input[type="radio"].ico:checked + .ico-label i {
      color: #3ac1ff; }

#msg {
  position: absolute;
  top: -3px;
  width: 100%;
  text-align: center; }

#msg .label {
  width: auto;
  text-align: center;
  max-width: calc(500px / 2); }

.hide {
  display: none !important; }

.hidden {
  visibility: hidden !important; }

.container {
  min-height: 100%; }

.icon.large {
  font-size: 24px; }

/* Scrollbar padding */
.container-header,
.item,
#container-workspace-controls {
  padding-left: calc(20px / 2) !important;
  padding-right: 20px !important; }

.ui.buttons {
  height: 100%;
  margin: 0px;
  border-radius: 0px; }
  .ui.buttons .button {
    width: 50px;
    padding: 0px;
    border-left: 1px solid #EEEEEE;
    border-radius: 0px; }
    .ui.buttons .button.ghost {
      background: none;
      color: #888; }
      .ui.buttons .button.ghost:hover, .ui.buttons .button.ghost:focus, .ui.buttons .button.ghost:active {
        background: none;
        color: white; }
        .ui.buttons .button.ghost:hover.primary, .ui.buttons .button.ghost:focus.primary, .ui.buttons .button.ghost:active.primary {
          background-color: #3ac1ff; }
        .ui.buttons .button.ghost:hover.secondary, .ui.buttons .button.ghost:focus.secondary, .ui.buttons .button.ghost:active.secondary {
          background-color: #1f3742; }
        .ui.buttons .button.ghost:hover i, .ui.buttons .button.ghost:focus i, .ui.buttons .button.ghost:active i {
          font-size: 125%; }

.container-header {
  display: flex;
  align-content: center;
  align-items: flex-start;
  height: 50px;
  color: #AAA;
  background-color: #1b1c1d;
  border-bottom: 1px solid #000; }
  .container-header.home {
    padding-left: 20px !important; }
  .container-header h1 {
    margin: auto;
    margin-left: 0px;
    box-shadow: none;
    font-size: 16px;
    font-weight: 500; }

.item {
  display: flex;
  height: 50px;
  padding: 0;
  border-bottom: 1px solid #EEEEEE !important; }
  .item h2 {
    margin: auto 5px;
    font-size: 16px;
    font-weight: 500; }
  .item .icon {
    margin: auto 0px; }
  .item .ui.buttons {
    margin-left: auto;
    visibility: hidden; }
  .item.clickable {
    cursor: pointer; }
  .item.empty {
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center; }
    .item.empty:hover {
      background: none !important; }
    .item.empty h2 {
      margin: auto; }
  .item:hover {
    background-color: #FAFAFA !important; }
    .item:hover h2 {
      color: #1f3742;
      font-weight: 700; }
    .item:hover .buttons {
      visibility: visible; }
  .item.static:hover {
    background: none !important; }
  .item .label {
    margin: 7px 0px auto 0px !important; }

.tab .title {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: auto 3px; }

.tab .favIcon {
  width: 24px;
  height: 24px;
  margin: auto 0px;
  padding: 3px;
  border-radius: 50%;
  background-color: #FAFAFA; }

.tab:first-child button.ui.button.move-up,
.tab:last-child button.ui.button.move-down {
  pointer-events: none !important;
  color: #DDDDDD !important;
  background-color: #FEFEFE !important; }

/* Section - Workspace details */
#container-workspace-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-bottom: 10px !important;
  border-bottom: 1px solid #000; }
  #container-workspace-controls h3 {
    margin: auto;
    margin-left: 6px; }

#container-confirm-content {
  padding: 30px; }
  #container-confirm-content * {
    text-align: center; }
  #container-confirm-content strong {
    color: red; }
  #container-confirm-content p {
    font-size: 16px; }
  #container-confirm-content ul {
    list-style: none;
    padding: 10px 0px; }
  #container-confirm-content li {
    border-bottom: 1px solid #CCC;
    padding: 10px; }
    #container-confirm-content li:last-child {
      border: 0px none; }
  #container-confirm-content .warning {
    font-size: 16px;
    color: red;
    margin-top: 25px; }

#container-settings-content .item {
  padding: 20px;
  border-color: black !important; }
  #container-settings-content .item h2 {
    font-weight: 700; }
  #container-settings-content .item p {
    padding: 6px;
    margin: 0px; }
  #container-settings-content .item .field {
    padding: 6px; }
  #container-settings-content .item .settings-description {
    width: 70%; }
  #container-settings-content .item .button {
    margin: auto 0px 0px auto; }
